body{
    font-family: 'Whitney', sans-serif;;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* inizio header  */
header{
    min-height: 70px;

}

.navigation{
    width: 70%;
    margin: 0 auto;

}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    

}

.logo{
    width: 25%;
    margin-top: 30px; 
    
}

.button-accedi{
    width: 25%;
    margin-top: 20px;
    
}

.style-button-accedi{
    padding: 10px;
    border-radius: 40px;
    background-color: white;
    border-style: none;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 150px;
}

.col-large{
    width: 75%;
   
}

.nav-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.nav-li{
    color: white;

}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    
}

.header-second-part{
    height: 500px;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
   
}



.title{
    color: white;
    padding: 30px 0;

}

.title h1{
    text-align: center;
    font-size: 60px;
}

.title p{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    line-height: 2;
}

.buttons-position{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.button-left{
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    margin-right: 50px;
    font-size: 20px;
}

.button-right{
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    background-color: #23272a;
    color: white;

}
/* fine header  */

/* inizio main  */
.container{
    width: 70%;
    margin: 0 auto;
    padding: 250px 0;


}


.img-space{
    width: 60%;
    
}

.text-space{
    width:40%;
    
}

.img-space img{
    width: 900px;
}



.text-space h1{
    padding-top: 50px;
    font-size: 55px;
    text-align: left;

    
}

.first, .third{
    margin-left: 150px;
}

.text-space p{
    text-align: left;
    font-size: 25px;
    margin-top: 50px;

}

.background-grey{
    background-color: #f6f6f6
}


.img-second-section img{
    width: 900px;
}



.container{
    width: 70%;
    margin: 0 auto;
    
}

.row2{
    width: 100%;
}



.image-end-page img{
    width: 100%;
    
}

.text-final-section{
    text-align: center;
}

.text-final-section h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.text-final-section p{
    font-size: 20px;
}

.last-h1{
    text-align: center;
    margin-top: 30px;
}

.last-h1{
    text-align: center;
    margin-bottom: 50px
}

.centre{
    display: flex;
    justify-content: center;
}

.final-main-button{
    border-style: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    background-color:#8ea1e1;
    color: white;

}
/* fine main  */

/* inizio footer  */
.background-black{
    background-color: black;

}

.footer-section{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    
}


.col-large{
    width: 40%;
    color: white;
    padding: 30px 0;
    
}


.col-large h1{
    margin-bottom: 50px;
    color: #7289da;
}

.col-large span{
    font-size: 10px;
}

.ita-flag{
    width: 20px;
    vertical-align: middle;

}

.col-small{
    width: 50%;
    color: white;
    padding: 40px 0;
    
    
   
}

.footer-ul{
    list-style: none;

    
}

li{
    padding: 5px 0;
}

.list-title{
    color: #7289da;
}

.footer2{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    
}

.footer-button button{
    padding: 7px;
    border-radius: 40px;
    border-style: none;
    background-color: #8ea1e1;
    color: white;
}



.container-logo-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    

}

hr {
    width: 70%;
    margin: 0 auto;
    color: #4a5882;
}
 


